// BASE CONTAINERS

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: $bg;
}

nav {
    
}

aside {
    @include breakpoint(large) {@include span-columns(3); margin-left: 0;}
}



// CONTAINER MODULES

.intro {
    @include outer-container;
    @include row(table);
}

.intro-hero {
    img {
        width: 100%;
        height: auto;
    }
}

.promo {
    @include breakpoint(medium) {@include span-columns(9);}
    @include breakpoint(large) {@include span-columns(7);}
}