<!-- @include _header -->
<!-- $title Subpage -->
<!-- $bodyclass retreats -->
<!-- $navclass location -->

  <section class="primary">
        <div class="intro">
            <h1><!-- $title Subpage --></h1>
        </div>
  </section>
  
  <section class="secondary <!-- $navclass -->">
  
      <!-- @include _subnav -->
      
      <div class="content-retreat">
          <p class="lede">This subpage has several subsections.</p>
          <p>Highlights include a visit to the extraordinary Inca ruins of Machu Picchu, a Peruvian sweat lodge ceremony, shopping the vibrant Quechua marchets, and soaking in the Natural Hot Springs of Santa Teresa. </p>
 
          <p><em>Be ready to open your path, let go to an unforgetable adventure, and enter the fascinating world of Peru on the trip of a lifetime!</em></p>
          <h4>Costs:</h4>
          <p><b>Early bird (until April 15th):  $2,349*</b>
          <br>Regular:  $2,500</p>
          <small><em>Please note: does not include flight. You need to meet us in Cusco on July 11th.</em></small>
      </div>
      
      <aside class="aside-retreat">
          <h4>Includes:</h4>
          <ul>
              <li>Daily yoga class</li>
              <li>Daily guided meditation</li>
              <li>8 nights accommodation (4 nights in the sacred valley, 1 night in Aguas Calientes, 3 nights in Cusco)</li>
              <li>8 American-style breakfasts, 2 lunches, 8 vegetarian evening meals (18 meals total)</li>
          </ul>
      </aside>
      
  </section>
  
<!-- @include _footer -->