
/*** BASE ***/

fieldset {
  border: 0;
	padding: 0;
}

textarea,
input[type="text"],
input[type="password"]
 {
  display: block;
  font-size: 14px;
  padding: 5px;
}

input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  background: $loud;
  border: 0;
  color: $base0;
  text-transform: uppercase;
  padding: .5em 2em;
  &:hover {
    background: $loud-dark;
    color: $base0;
  }
}

/*** LOGIN FORM ***/


.login {
	width: 320px;
	margin: 100px auto;
	padding: 20px;
	border: 1px solid $base9;
	clear: both;
}

.error {
  font-size: 12px;
  display: block;
}